<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>);">
  <div class="container">
    <h1>A good huone for a good night sleep</h1>
    <%= link_to "Seel all rooms", rooms_path, class: "btn-red" %>
  </div>
</div>
