<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    Huone simply means bedroom in Finland. Wishing you a <i class="fas fa-heart"></i> night in your next Huone.
  </div>
</div>
