.btn-red {
  color: $light-creme;
  background: $light-red;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $light-red;
  border-style: solid;
  &:first-letter {
    text-transform: uppercase;
  }
}

.btn-red:hover {
  color: $light-red;
  background: $light-creme;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  border-color: $light-creme;
  border-style: solid;
}

.btn-white {
  color: $light-red;
  background: $light-creme;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $light-creme;
  border-style: solid;
  &:first-letter {
    text-transform: uppercase;
  }
}

.btn-white:hover {
  color: $light-creme;
  background: $light-red;
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-block;
  border-color: $light-red;
  border-style: solid;
}
