.cards-rooms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  margin-top: 16px;
}

.room-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.room-infos {
  height: 70vh;
  position: sticky;
  top: 0;
  padding-top: 9px;
  text-align: left;
  align-items: center;
  justify-self: end;
  a {
    text-decoration: none;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
