.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
  border-bottom: 1px solid $dark-gray;
}

.navbar-brand {
  padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: $light-creme;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $light-red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
